.mainContainer .headingContainer {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer .headingContainer img {
    width: 130px;
}

.mainContainer .ins {
    margin-top: -20px;
}

.mainContainer .ins ol {
    text-align: left;
    margin-left: 40px;
    font-size: 15px;
    font-style: italic;
}

.mainContainer .ins ol li {
    padding-bottom: 5px;
}