.mainContainer .heading{
    font-size: 24px;
    margin-bottom: 4px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    font-weight: 700;
    color: #ab311d;
    text-shadow: 2px 2px 4px rgb(255 194 184);
}

.mainContainer .headingContainer {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer .headingContainer img {
    width: 200px;
}